# BasedOnStyle: Google
BasedOnStyle: Microsoft

# タブを使う
UseTab: ForIndentation

# 関数の引数を整列
AlignAfterOpenBracket: true

# []の内側にスペースを入れる
SpacesInSquareBrackets: true

# 関数の定義時の波括弧の改行
BreakBeforeBraces: Attach

# 1行の最大文字数
ColumnLimit: 150

#BinPackParameters: false

#BinPackArguments: false