gitRoot
*a.out
.nfs*
progi/ei2/kadai/kadai2/a.out
progi/.ei1/files_c/kadai/prog02/go
progi/.ei1/files_c/kadai/prog03/go
progi/.ei1/files_c/sample/input
progi/.ei1/pad/fizzBuzz.mem
progi/ei2/kadai/kadai3/data/result
kyou_prog/*
c-master/c-master5/test/test.c
.DS_Store
jouhou_kentei/*
c-master/c-master5/toi14/toi14-04/go
c-master/c-master5/toi14/toi14-04/*.o
.vscode/settings.json
progi/ei2/kadai/kadai4/test/prog18-11.bin
.DS_Store
c-master/c-master8/.history/
c-master/c-master8/toi20/toi20-03.c
progi/ei2/kadai/kadai8/libstack.so
progi/ei2/kadai/kadai8/result.txt
progi/ei2/kadai/kadai9/libqueue.so
progi/ei2/kadai/kadai10/liblist.so
c-master/c-master09/kadai1/liballocwords.so
progi/ei2/kadai/kadai12/mvHanoi+
progi/ei2/kadai/kadai12/cntHanoi
